@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: 'Inter', sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding: 30px;
}
.main .icon {
  width: 34px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 280px;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #548CA8;
  border-radius: 4px;
  margin-bottom: 24px;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main button {
  padding: 12px 0;
  color: #fff;
  background-color: #87AFC3;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Inter', sans-serif;
}
.main button:hover {
  background-color: #9FBFCE;
}

@keyframes fadeIn {
  from {
    opacity: 0
  } to {
    opacity: 1
  }
}
.main .result {
  margin-top: 40px;
  background-color: #ddeeff;
  width: max(200px, 40%);
  padding: 4%;
  border-radius: 10px;
  border: 2px solid #777;
  transition: all 1s;
}

.main .footer {
  margin-top: 1rem;
  font-size: 1.1rem;
  text-align: center;
}
.main .footer p {
  display: flex;
  align-items: center;
}
.main .footer img {
  height: 1.1rem;
  margin-left: 0.5rem;
}